*

!.gitignore
!Cargo.toml
!Cargo.lock
!deny.toml
!README.md
!LICENSE.txt

!devenv.nix
!devenv.yaml
!devenv.lock
!.envrc

!.github/
!.github/**

!.cargo/
!.cargo/**

!docs/
!docs/**

!core/
!core/**

!latchlm/
!latchlm/**

!gemini/
!gemini/**

!openai/
!openai/**

!openrouter/
!openrouter/**

!macros/
!macros/**

!xtask/
!xtask/**
