*

!.gitignore
!Cargo.toml
!Cargo.lock
!deny.toml
!README.md
!LICENSE.txt

!flake.nix
!flake.lock

!.github/
!.github/**

!.cargo/
!.cargo/**

!docs/
!docs/**

!core/
!core/**

!latchlm/
!latchlm/**

!gemini/
!gemini/**

!macros/
!macros/**

!xtask/
!xtask/**
